html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  text-decoration-style: none;
}

ul {
  text-decoration-style: none;

}
.allInfo{
  text-align: center;
}
.LinkList {
  display: flex;
  text-decoration-style: none !important;
}

.LinkItem {
  text-decoration-style: none;
  margin-right: 100px;
  font-size: 24px;
}

.SearchMovie {
  margin: 0 auto;
  width: 250px;
  color: orange;


}

.buttonBack {
  border: 2px solid green;
  width: 100px;
  background-color: white;
  margin-bottom: 50px;
 

}

.form {
  width: 100px;
  margin-left: 650px;
}

.CastImg {
  width: 200px;
 
}

.LinkCastReview {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.CastLink {
  margin-bottom: 30px;
  list-style-type: none;
  text-decoration: none;
  color: green
}

.RewiewLink {
  margin-bottom: 20px;
  list-style-type: none;
  text-decoration: none;
  color: green
}
.HomeList{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width:1200px;
  justify-content: space-between;

}
.HomePageList{
   width: 200px ;  
   margin-bottom: 30px;
   
  
}
.LinkList{
  list-style-type: none;
  text-decoration: none;
  color: green
}

.smallImg{
  width: 250px;
  height: 130px;
}
.MoviepageUl{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width:1200px;
  justify-content: space-between;

}
.MoviepageLi{
  width: 200px ;  
  margin-bottom: 30px;
  list-style-type: none;
  text-decoration: none;
  color: green

}
.CastList{
  display: flex;
  
  list-style-type: none;
  width:1200px;
  justify-content: space-between;

}
.CastItem{
  width: 200px;
  height: 200px;
}
.title{
  color: red;
  font-size: 34px;
}
.rewList{
  list-style-type: none;
  width: 1200px;
}